<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Eventos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo-unifametro" src="../assets/unifametro-logo.png" alt="Logo Unifametro">
    </header>
    <!--Cabeçalho -->
    <main class="container">
        <section id="balance">
            <h2 class="sr-only"></h2>
        </section>   
        
        <section class="transaction">
            <h2 class="sr-only">Eventos</h2>
            <div id="espacamento"></div>
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Nome Evento</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Mais</th>
                    </tr>
                </thead>
                <tbody id="tbody"> 

                </tbody>
            </table>
        </section>
    </main>

    <div class="modal-overlay">
        <div class="modal">
            <div class="form">
            <h2>Detalhes do Evento</h2>
            <form action="" method="get">
                <div class="input-group">
                    <label for="name" class="">Evento Nome</label>                    
                    <input type="text" id="name" disabled>
                </div>

                <div class="output-group">
                    <label for="" class="">Quantidade Vagas</label>                    
                    <input type="text" id="quantidade" name="" disabled>
                </div>

                <div class="output-group">
                    <label for="" class="">Descrição</label>                    
                    <input type="text" id="description" name="" disabled>
                </div>

                <div class="output-group">
                    <label for="" class="">Data Inicial do evento</label>                    
                    <input type="text" id="DataIni" name="" disabled>
                </div>

                <div class="output-group">
                    <label for="" class="">Data Final do Evento</label>                    
                    <input type="text" id="DataFim" name="" disabled>
                </div>

                <div class="output-group">
                    <label for="" class="">Carga Horária do evento</label>                    
                    <input type="text" id="CargaHoraria" name="" disabled>
                </div>

                <div class="output-group">
                    <label for="" class="">Espaço</label>                    
                    <input type="text" id="espaco" name="" disabled>
                </div>

                <div class="input-group actions">
                    <a onclick="Modal.close()" href="#" class="button cancel">Fechar</a>
                    <button>Inscrever-se</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <footer>
        <p>Gestão Eventos Unifametro</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>